@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url("MaterialIcons-Regular.ttf") format('woff2');
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    src: url("DMSans-VariableFont_opsz\,wght.ttf") format('woff2');
}

.msr {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(15 22 44), rgb(16, 163, 255));
    color: white;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.windows {
    flex: 1;
    align-items: center;
    display: flex;
    overflow: hidden;
}

@keyframes windpop {
    0% {
        transform: translateY(1em);
    }
}

.window {
    flex: 1;
    background-color: transparent;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
    gap: .5em;
    text-align: center;
    overflow: hidden;
    padding-bottom: 3em;
    width: calc(100vw - 1em);
    animation: windpop .3s cubic-bezier(0.42, 1.67, 0.21, 0.90);
}

.window#home {
    justify-content: center;
    align-items: center;
    width: calc(100vw - 0px);
    height: 100%;
    padding: 0 0;
    padding-top: 10em;
}

canvas {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
}


.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    max-width: 350px;
    z-index: -2;
}

.bottombar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #101010;
    padding: .5em;
}

.bottombar .btn {
    padding: 1em;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.bottombar .btn:hover {
    background-color: #ffffff0f;
    border-radius: .5em;
}

#choosebtn {
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em .7em;
    border-radius: 2em;
    gap: .3em;
    font-size: 1.3em;
    cursor: pointer;
    z-index: 2;
}

.selectorcont {
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    transition: .3s ease-out;
    overflow-x: scroll;
    width: calc(100vw - 14em);
    padding: 0 calc(100vw - 7em);
    height: 67vh;
    position: absolute;
    top: 8em;
    z-index: 1;
}

.sing_mode {
    border-radius: 50%;
    overflow: hidden;
    min-width: 60vw;
    height: 60vw;
    aspect-ratio: 1/1;
    transform: scale(0.6);
    scroll-snap-align: center;
    transition: .3s cubic-bezier(0.42, 1.67, 0.21, 0.90);
}

.sing_mode.center {
    transform: scale(1);
}

.sing_mode img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selectorcont {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.selectorcont::-webkit-scrollbar {
    display: none;
}

#modedisp {
    text-transform: capitalize;
}

#settings {
    display: flex;
    align-items: center;
}

.setting {
    padding: 1em;
    background-color: #111113;
    border-radius: 1.7em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: calc(100% - 2em);
    text-align: left;
    gap: .8em;
}

.setting>p {
    margin: 0;
    margin-top: .5em;
    margin-left: .8em;
    opacity: .8;
}

.setting>.inputbox {
    display: flex;
    flex-direction: row;
    gap: .3em;
    background-color: #161616;
    padding: .3em;
    border-radius: 1.3em;
}

.setting>.inputbox>input {
    padding: 0 .5em;
    flex: 1;
    font-family: monospace !important;
    font-size: 1.5em !important;
}

.setting>.inputbox>input,
.setting>.inputbox>button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    color: inherit;
    outline: 0;
}


.setting>button {
    border: none;
    font: inherit;
    color: inherit;
    outline: 0;
    background-color: #6a1d1d;
    padding: .5em 1em;
    display: flex;
    cursor: pointer;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    gap: .3em;
    width: fit-content;
}

.setting.horiz {
    flex-direction: row;
    justify-content: space-between;
}

.setting>.inputbox>button {
    background-color: #1d456a;
    padding: .5em;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
}

.setting>.inputbox>button>.msr {
    font-size: 21px;
    color: #b8ddff;
}

h1 {
    width: 70%;
    border-bottom: 1px solid #80808075;
    padding-bottom: .5em;
    font-weight: normal;
    min-width: fit-content;
}

.connectedstate>.inputbox>button {
    background-color: rgb(27, 81, 27);
}

.connectedstate>.inputbox {
    background-color: #171e16;
}

div.logger {
    flex: 1;
    overflow: auto;
    padding: .5em;
    display: flex;
    gap: .3em;
    align-items: stretch;
    flex-direction: column;
}

.sing_notif {
    width: calc(100vw - 4em);
    background: #101010;
    padding: 1em;
    border-radius: 1em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.sing_notif>.title {
    color: #a6a6a6;
    font-size: .9em;
    display: flex;
    align-items: center;
    gap: .3em;
}


.sing_notif>.title>b {
    color: white;
}

.sing_notif>.title>.icn {
    color: red;
    font-size: 20px;
}


.sing_notif>.title>.issue {
    flex: 1;
}

.sing_notif>p {
    margin: 0;
}

.badge {
    position: absolute;
    background: #ff3e3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    top: 3px;
    right: 0px;
    border-radius: 50%;
    font-family: monospace;
}